*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 1px solid #000;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    }

    

    body{
        background: var(--Background, #2B2B2B);
    }
    /* -------------------HEADER TOP------------------------- */
    .header{
        width: 100%;
        background: var(--Background, #2B2B2B);
        height: 100vh;
        position: relative;

        &__body{
            padding-top: 10px;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__body-left{
            width: 250px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__body-right{
            max-width: 550px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
        }
        &__body-right-navigate{
            padding-right: 30px;
            width: 380px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &__body-right-navigate-link{
            color: #FFF;
            text-align: center;
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 22.4px */
            cursor: pointer;
        }
        &__body-right-btn{
            width: 110px;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border-radius: 20px;
            background: var(--Call-to-Action, #A259FF);
            color: #FFF;
            text-align: center;
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 22.4px */
        }

        /* -------HEADER TOP MOBILE---------------- */
        &__mobile{
            position: relative;
            width: 50px;
            height: 50px;
            display: none;
            cursor: pointer;
        }

        &__mobile-line{
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #FFF;
            top: 45%;
            transition: 0.3s;
        }

        &__mobile-line::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 4px;
            background-color: #FFF;
            top: 15px;
        }

        &__mobile-line::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 4px;
            background-color: #FFF;
            top: -15px;
        }
        

        &__input[type="checkbox"]:checked ~ .header__label .header__mobile .header__mobile-line{
            transform: rotate(45deg);
            background-color: #f42323;
        }

        &__input[type="checkbox"]:checked ~ .header__label .header__mobile .header__mobile-line::after{
            background-color: #f42323;
            opacity: 0;
        }

        &__input[type="checkbox"]:checked ~ .header__label .header__mobile .header__mobile-line::before{
            background-color: #f42323;
            transform: rotate(90deg) translateX(15px);

        }

        &__input[type="checkbox"]:checked ~ .header__body-right{
            position: absolute;
            width: 270px;
            height: 500px;
            right: 10%;
            border: 1px solid #000;
            top:  20px;
            background-color: #A259FF;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
        }

        .header__input{
            display: none;
        }
    }



        /* --------------HEADER INFO BLOCK-------------------- */

        .header__info-block{
            max-width: 1150px;
            margin: 70px auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            position: relative;
        }

        .header__info-block-left{
            max-width: 700px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
        }

        .header__info-block-left-title{
            max-width: 400px;
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 67px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%; /* 73.7px */
            text-transform: capitalize;
        }

        .header__info-block-left-descr{
            max-width: 520px;
            color: var(--White, #FFF);
font-family: Work Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 35.2px */
text-transform: capitalize;
padding-top: 15px;
        }


        .header__info-block-left-ratings{
            width: 320px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 25px;
        }
        .header__info-block-left-rating-item-number{
            color: var(--White, #FFF);
font-family: Space Mono;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 39.2px */
text-transform: capitalize;
        }

        .header__info-block-left-rating-item-name{
            color: var(--White, #FFF);
font-family: Work Sans;
font-size: 23.99px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 38.384px */
text-transform: capitalize;
        }

        .header__info-block-right{
            max-width: 500px;
            border-radius:20px 20px;
            display: flex;
            flex-direction: column;
            align-items: start;
            background: var(--Background---Secondary, #3B3B3B);
        }

        .header__info-block-right-image{
            max-width: 500px;
            border-radius: 20px 20px 0px 0px;
        }
        .header__info-block-right-name{
            color: #FFF;
            font-family: Work Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 30.8px */
            text-transform: capitalize;
            padding-top: 5px;
            padding-left: 5px;
        }
        .header__info-block-right-creator{
            width: 120px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding-bottom: 20px;
        }
        .header__info-block-right-avatar-name{
            color: #FFF;
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
        .header__mob-info-block{
            display: none;
        }
    

    /* ---------button----------- */
    .fullskrin__start{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 500px;
        height: 600px;
        margin: 0 auto;
        z-index: 1;
        background: linear-gradient(#bc13f4,#ffffff);
        border-radius: 20px;
        padding: 60px 30px;
        margin: 0 auto;
        display: none;
        position: absolute;

        &__logo{
            color: #000;
text-align: center;
font-family: Space Mono;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 160%; /* 35.2px */
text-transform: capitalize;
        }

        &__title{
            color: #000;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 900;
line-height: 160%; /* 35.2px */
text-transform: capitalize;
        }

        &__input{
            width: 300px;
            padding-left: 12px;
            height: 40px;
            border-radius: 20px;
            background-color: #2B2B2B;
            color: #FFF;
            font-family: cursive;
            font-size: 14px;
            margin-left: 12px;
        }

        &__btn{
            background-color: #A259FF;
            padding: 15px 30px;
            border-radius: 13px;
            color: #FFF;
            font-size: 18px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 500;
            margin: 0 auto;
            cursor: pointer;
        }

        &__undertxt{
            text-align: center;
            font-size: 15px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;
        }
        &__login{
            text-decoration: underline;
        }
}
    .fullskrin__button-input[type="checkbox"]:checked ~ .fullskrin__start{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        animation: form 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        left: 25%;
    }
    .fullskrin__button-input[type="checkbox"]:checked ~ .header__info-block-left-ratings{
        display: none;
    }
    .fullskrin__button-input{
        display: none;
    }
    
    .fullskrin__button-label{
        display: flex;
            align-items: center;
            justify-content: space-around;
            width: 180px;
            border-radius: 20px;
background: var(--Call-to-Action, #A259FF);
height: 50px;
margin-top: 20px;
cursor: pointer;
    }

    .fullskrin__button-label-btn{
        color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 22.4px */
margin-top: 20px;
background-color: #ffffff00;
text-align: center;
margin-bottom: 20px;
cursor: pointer;
    }


    @keyframes form {
        0%{
            transform: translateY(900px);
        }
        100%{
            transform: translateY(0px);
        }
    }


    /* --------section 2------------------ */
    .section-2{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-bottom: 30px;
        overflow: hidden;

        &__txt{
            padding-left: 185px;
        }
        &__txt-title{
            color: var(--White, #FFF);
font-family: Work Sans;
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 45.6px */
text-transform: capitalize;
        }

        &__txt-descr{
            color: var(--White, #FFF);
font-family: Work Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 35.2px */
text-transform: capitalize;
        }

        &__images{
            margin: 0 auto;
            width: 1150px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 50px;
            overflow: hidden;
            
        }

        &__images-block-small{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 10px;
        }

        &__images-block-small-img{
            width: 100px;
            border-radius: 20px;
        }

        &__images-block-small-more{
            padding: 32px 15px;
            border-radius: 20px;
background: var(--Call-to-Action, #A259FF);
color: #FFF;
text-align: center;
font-family: Space Mono;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 35.2px */
text-transform: capitalize;
transition: 0.3s;
        }
        &__images-block-small-more:hover{
            transform: scale(1.1);
        }

    &__images-block-name{
        color: #FFF;
font-family: Work Sans;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 30.8px */
text-transform: capitalize;
padding-top: 10px;
    }

    &__images-block-avatar{
        padding-top: 10px;
    }
    }

    .button-767px{
        display: none;
    }

    /* ----------------------ANIMAL WORLD-------------------- */
    .world-header{
        width: 100%;
        height: 100vh;
    }
    .world__title{
        text-shadow: 0px 0px 8px #ffffff9c;
        color: #fff;
        text-align: center;
        font-family: Space Mono;
        font-size: 70px;
        font-style: normal;
        font-weight: 900;
        line-height: 160%; /* 35.2px */
        text-transform: capitalize;
        padding-top: 180px;
        animation: title 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    }

    @keyframes title{
        0%{
            opacity: 0;
            font-size: 10px;
        }
        100%{
            opacity: 1;
            font-size: 70px;
        }
    }
    .images{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 1400px;
        margin: 50px auto;



        &__anim{
            width: 300px;
            border-radius: 16px;
            height: 300px;
        }
    }

    .section-3__top-btn:hover .section-3__rocket-img{
        transform: rotateY(-360deg);
    }
    .section-3__rocket-img{
        transition: 0.3s;
    }
    .section-3__top-btn:hover{
        border: 2px solid var(--Call-to-Action, #000);
        height: 40px;
        width: 160px;
    }

    .section-3{
        max-width: 1150px;
        margin: 0 auto;
        padding-top: 80px;

        &__top{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
        }
        &__top-txt-title{
            color: var(--White, #FFF);
font-family: Work Sans;
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 45.6px */
text-transform: capitalize;
        }
        &__top-txt-descr{
            color: var(--White, #FFF);
font-family: Work Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 35.2px */
text-transform: capitalize;
        }
        &__top-btn{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 20px;
border: 2px solid var(--Call-to-Action, #A259FF);
color: #FFF;
height: 50px;
width: 180px;
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 22.4px */
cursor: pointer;
transition: 0.3s;
        }

        &__blocks{
            padding-top: 63px;
            padding-bottom: 20px;
        }
        &__line{
            padding-top: 17px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

&__block-creator {
        width: 240px;
        height: 240px;
        background-color: #3B3B3B;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        transition: 0.5s;
    }

    &__block-creator:hover {
        transform: scale(1.1);
        filter: drop-shadow(0px 0px 10px #f10f0fdd);
    }

    &__block-creator:hover .section-3__creator-number{
        background-color: #f4ca23;
        color: #000;
    }

&__creator-number {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: rgba(43, 43, 43, 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #858584;
        top: 18px;
        left: 18px;
        transition: 0.3s;
    }


&__creator-title {
        color: #FFF;
        font-family: 'Work Sans', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-transform: capitalize;
        text-align: center;
    }

    &__creator-text {
        color: var(--caption-label-text, #858584);
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    &__text-span {
        color: var(--Text, #FFF);
        font-family: 'Space Mono', monospace;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
    }

    .mob-section-3__blocks{
        display: none;
    }

    
    .section-4{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        max-width: 1150px;
        margin: 50px auto;

        &__title{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 38px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 45.6px */
            text-transform: capitalize;
        }

        &__box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0px auto;
        }

        &__box-1-block{
            width: 250px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 20px;
            background: #3B3B3B;
            cursor: pointer;
            transition: 0.3s;
            margin-top: 25px;
        }

        &__box-1-block-images{
            width: 250px;
            height: 230px;
            position: relative;
        }

        &__block-background{
            width: 250px;
            height: 230px;
            filter: blur(7.5px);
            position: absolute;
        }

        &__box-1-block-icon{
            left: 30%;
            top: 30%;
            position: absolute;
        }

        &__box-1-block-name{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 30.8px */
            text-transform: capitalize;
            padding-left: 25px;
            padding-bottom: 18px;
        }
    }

    .section-4__box-1-block:hover{
        transform: scale(1.1);
    }
    .section-4__box-1-block:hover .section-4__block-background{
        filter: blur(0px);
    }
    .section-4__box-1-block:hover .section-4__box-1-block-icon{
        display: none;
    }


    /* SECTION 5--------------------------- */
    .section-5{
        margin: 0 auto;
        max-width: 1150px;

        &__top{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
        }

        &__top-txt-title{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 38px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 45.6px */
            text-transform: capitalize;
        }

        &__top-txt-descr{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 35.2px */
            text-transform: capitalize;
        }

        &__top-btn{
            display: flex;
height: 60px;
width: 170px;
padding: 0px 40px;
justify-content: space-around;
align-items: center;
            border-radius: 20px;
            border: 2px solid var(--Call-to-Action, #A259FF);
            color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 22.4px */
        }

        /* --------------------------BOX--------------------------- */
        &__box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 60px 0;
        }
        &__box-block{
            width: 330px;
            border-radius: 20px;
            background: #3B3B3B;
        }
        &__box-info-creator{
            padding-top: 5px;
            padding-left: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &__box-info-title{
            padding-top: 15px;
            padding-left: 40px;
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 30.8px */
            text-transform: capitalize;
        }
        &__box-info-creator-nick{
            padding-left: 10px;
            color: var(--White, #FFF);
            font-family: Space Mono;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }

        &__box-info-datas{
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        &__box-info-datas-prise-title{
            color: #858584;
            font-family: Space Mono;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 110%; /* 13.2px */
        }
        &__box-info-datas-prise-descr{
            padding: 13px 0;
            color: var(--White, #FFF);
            text-align: right;
            font-family: Space Mono;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
    }


    .section-6{
        width: 100%;
        background-image: url(./images/mushrooms-2798150_1920.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 130px 0px;

        &__left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            max-width: 750px;
            padding-left: 20px;
        }

        &__avatar{
            width: 150px;
            border-radius: 50px;
            background: #3B3B3B;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            justify-content: space-around;
        }
        &__avatar-name{
            color: #FFF;
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
        &__avatar-img{
            width: 20px;
        }
        &__title{
            margin: 20px 0;
            color: #FFF;
            font-family: Work Sans;
            font-size: 51px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%; /* 56.1px */
            text-transform: capitalize;
        }
        &__btn{
            border-radius: 20px;
background: var(--Text, #FFF);
display: flex;
height: 60px;
padding: 10px 30px;
justify-content: center;
align-items: center;
color: var(--Background, #2B2B2B);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 22.4px */
        }

        &__right{
            margin-right: 20px;
            display: flex;
width: 295px;
padding: 30px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
border-radius: 20px;
background: rgba(59, 59, 59, 0.50);
backdrop-filter: blur(5px);
color: #FFF;
font-family: cursive;
        }

        &__info{
            gap: 30px;
            max-width: 1150px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
        }

        
    }

    .section-6-mob{
        width: 100%;
        background-image: url(./images/mushrooms-2798150_1920.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 100px 0px;
        display: none;
        
        
        &__info{
            max-width: 340px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            align-content: center;
        }

        &__title{
            margin: 20px 0px;
            color: #FFF;
            font-family: Work Sans;
            font-size: 51px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%; /* 56.1px */
            text-transform: capitalize;
        }
        &__btn{
            border-radius: 20px;
            background: var(--Text, #FFF);
            display: flex;
            height: 60px;
            padding: 10px 30px;
            justify-content: center;
            align-items: center;
            color: var(--Background, #2B2B2B);
            text-align: center;
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 22.4px */
            margin-top: 20px;
        }
    } 

    .section-7{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        max-width: 1150px;
        margin: 0 auto;
        padding-top: 80px;


        &__box{
            padding: 45px 20px;
            gap: 48px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__top{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: start;
        }
        &__title{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 38px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 45.6px */
            text-transform: capitalize;
        }
        &__descr{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 35.2px */
            text-transform: capitalize;
        }
        &__card{
            display: flex;
            width: 330px;
            padding: 10px 30px 30px 30px;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            border-radius: 20px;
background: var(--Background---Secondary, #3B3B3B);
        }
        &__card-icon{
            width: 250px;
        }
        &__card-title{
            color: #FFF;
            text-align: center;
            font-family: Work Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 30.8px */
            text-transform: capitalize;
        }
        &__card-descr{
            color: var(--White, #FFF);
            text-align: center;
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
    }

    .section-8{
        width: 100%;

        &__form{
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 1050px;
            padding: 60px;
            border-radius: 20px;
background: #3B3B3B;
        }

        &__right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            max-width: 425px;
        }
            &__right-title{
                color: var(--White, #FFF);
                font-family: Work Sans;
                font-size: 38px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 45.6px */
                text-transform: capitalize;
            }
            &__right-descr{
                color: var(--White, #FFF);
                font-family: Work Sans;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 35.2px */
                text-transform: capitalize;
                padding: 15px 0 30px 0;
            }

            &__right-input{
                display: flex;
                height: 60px;
                padding: 16px 20px 16px 20px;
                align-items: center;
                gap: 12px;
                border-radius: 20px;
                background: var(--Text, #FFF);
                color: var(--Background, #2B2B2B);
                font-family: Work Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 22.4px */
            }

            &__btn-input{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 5px;
            }

            &__btn{
                display: flex;
                height: 50px;
                padding: 0px 30px;
                align-items: center;
                gap: 12px;
                border-radius: 15px;
                background: var(--Call-to-Action, #A259FF);
                color: #FFF;
                text-align: center;
                font-family: Work Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 22.4px */
            }
    }

    /* Стилі для великих екранів (дисплей максимум 1199рх) */
    @media (max-width: 1199px) { 
        .section-2{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .section-2__txt{
            padding-left: 40px;
            text-align: center;
        }
        .section-2__images{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 800px;
        }
        .section-2__images-block:nth-child(3){
            display: none;
        }
        .header__body{
            padding: 7px 20px;
        }

        .header__info-block{
            padding: 0px 20px;
        }

        .section-3{
            padding-left: 13px;
            padding-right: 13px;
        }

        .section-4{
            padding: 0 20px;
        }
        .section-4__title{
            padding-left: 20px;
        }
        .section-4__box-1-block{
            width: 250px;
        }

        .section-5{
            padding: 0 20px;
        }
        .section-5__box-block{
            width: 315px;
        }
        .section-5__box-block-img{
            width: 315px;
        }

        .section-8{
            padding: 20px;
        }
        .section-8__form{
            gap: 10px;
        }
    }


/* Стилі для середніх екранів (дисплей максимум 991рх) */
    @media (max-width: 996px) { 

        .header__info-block{
            padding: 0 10px;
        }
        .header__info-block-right{
            max-width: 400px;
        }
        .header__info-block-right-image{
            max-width: 400px;
        }

        .header__info-block-left-title{
            max-width: 300px;
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 50px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%; /* 73.7px */
            text-transform: capitalize;
        }
        .header__info-block-left-descr{
            max-width: 450px;
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 35.2px */
            text-transform: capitalize;
            padding-top: 10px;
        }
        .header__info-block-left-btn{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 140px;
            border-radius: 20px;
            background: var(--Call-to-Action, #A259FF);
            height: 40px;
            color: #FFF;
            text-align: center;
            font-family: Work Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 22.4px */
            margin-top: 15px;   
        }
        .header__info-block-left-ratings{
            width: 280px;
        }
        .header__info-block-left-rating-item-number{
            color: var(--White, #FFF);
font-family: Space Mono;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 39.2px */
text-transform: capitalize;
        }

        .header__info-block-left-rating-item-name{
            color: var(--White, #FFF);
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 38.384px */
text-transform: capitalize;
        }

        .section-2__images{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            max-width: 700px;
        }
        .images__anim{
            width: 200px;
            height: 200px;
        }

        .section-3{
            max-width: 900px;
        }
        .section-3__blocks{
            display: none;
        }

        .mob-section-3__blocks{
            display: block;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .section-3__line{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .section-3__creator-img{
            width: 80px;
        }
        .section-3__creator-title{
            color: #FFF;
font-family: Work Sans;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 30.8px */
text-transform: capitalize;
        }
        .section-3__creator-text{
            color: var(--caption-label-text, #858584);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
        }

        .section-3__text-span{
            color: var(--Text, #FFF);
            font-family: Space Mono;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }

        .section-3__block-creator{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 350px;
            height: 100px;
            margin-top: 10px;
        }
        .section-3__creator-info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: start;
        }


        .section-5__box-block{
            width: 300px;
        }
        .section-5__box-block-img{
            width: 300px;
        }


        .section-8__btn-input{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .section-8__form{
            display: flex;
            max-width: 690px;
            padding: 40px 30px;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
        .section-8__right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
        }
        .section-8__right-title{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 39.2px */
            text-transform: capitalize;
        }
        .section-8__right-descr{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }

        .section-8__img{
            max-width: 340px;
        }
    }

    @media (max-width: 955px) {


        .section-5__box-block{
            width: 240px;
        }
        .section-5__box-block-img{
            width: 240px;
        }
    }

/* Стилі для малих екранів (дисплей максимум 767рх) */
    @media (max-width: 777px) { 
        .header__body{
            display: flex;
            flex-direction: column;
        }


        .header__info-block-right{
            width: 300px;
        }
        .header__info-block-right-image{
            width: 300px;
        }
        
        .header__info-block-left-title{
            max-width: 240px;
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 45px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%; /* 73.7px */
            text-transform: capitalize;
        }
        .header__info-block-left-descr{
            max-width: 400px;
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 35.2px */
            text-transform: capitalize;
            padding-top: 7px;
        }
        .header__info-block-left-btn{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 120px;
            border-radius: 20px;
            background: var(--Call-to-Action, #A259FF);
            height: 35px;
            color: #FFF;
            text-align: center;
            font-family: Work Sans;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 22.4px */
            margin-top: 10px;   
        }
        .fullskrin__start{
            max-width: 450px;
            transform: translateY(-40px);
            margin-left: -60px;
        }
        .header__info-block-left-ratings{
            width: 260px;
        }
        .header__info-block-left-rating-item-number{
            color: var(--White, #FFF);
font-family: Space Mono;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 39.2px */
text-transform: capitalize;
        }
        .header__info-block-left-rating-item-name{
            color: var(--White, #FFF);
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 38.384px */
text-transform: capitalize;
        }
        
        .fullskrin__button-input[type="checkbox"]:checked ~ .fullskrin__start{
            max-width: 400px;
            left: 43%;
        }

        .section-2__images{
            width: 350px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
        }
        .section-2__images-block:nth-child(2){
            display: none;
        }
        .section-2__images-block{
            margin: 0 auto;
            padding-top: 10px;
        }
        .section-2__images-block-3{
            display: none;
        }
        /* BUTTON */
        .button-767px{
            display: block;
        }
        .button-767px__input{
            display: none;
        }
        .footer-button{
            margin-top: 7px;
            cursor: pointer;
            padding: 8px 90px;
            border-radius: 20px;
            background-color: #A259FF;
            color: var(--White, #FFF);
font-family: Space Mono;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 39.2px */
text-transform: capitalize;
text-align: center;
        }

        .cards-767px{
            display: none;
            transition: 0.7s;
        }

        .button-767px__input[type="checkbox"]:checked ~ .cards-767px{
            display: block;
            transform: translateY(10px);
            padding-bottom: 20px;
        }


        .section-3{
            padding-bottom: 20px;
        }
        .section-3__block-creator{
            width: 310px;
        }
        .mob-section-3__blocks{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        .section-3__top-txt-title{
        color: var(--White, #FFF);
font-family: Work Sans;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 39.2px */
text-transform: capitalize;
    }

    .section-3__top-txt-descr{
        color: var(--White, #FFF);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
    }

    .section-5__box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    .section-5__box-block{
        width: 350px;
    }
    .section-5__box-block-img{
        width: 350px;
    }

    .section-7__top{
        margin: 0 auto;
    }
    .section-7__box{
        max-width: 400px;
        margin: 0 auto;
    }
}



    @media(max-width:680px){
        .header__body-right-btn{
            height: 30px;
        }
        .header__info-block-left-title{
            max-width: 370px;
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 39.2px */
            text-transform: capitalize;
        }
        .header__info-block-left-descr{
            max-width: 320px;
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            padding-top: 2px;
        }

        .header__mob-info-block-right{
            border-radius: 20px 20px;
            background: var(--Background---Secondary, #3B3B3B);
            margin-top: 10px;
        }
        .header__info-block-right-image{
            width: 290px;
            height: 205px;
        }

        .images__anim:nth-child(3){
            display: none;
        }

        .section-5__top-txt-title{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 39.2px */
            text-transform: capitalize;
        }
        .section-5__top-txt-descr{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
        .section-5__top-btn{
            color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 22.4px */
        }

        .section-8__form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        .section-8__right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    @media (max-width: 621px){
        .section-5__box-block{
            margin: 0 auto;
            width: 320px;
        }
        .section-5__box-block-img{
            width: 320px;
        }
    }

/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
    @media (max-width: 577px) { 
        .header__mobile{
            display: block;
        }
        .header__body{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5px 20px;
        }

        .header__body-right{
            display: none;
        }
        .header__body-right-navigate{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 130px;
            padding-top: 50px;
            padding-left: 30px;
        }

        .header__body-right-navigate-link{
            transition: 0.3s;
            font-size: 25px;
            font-weight: 600;
            font-family: cursive;
        }

        .header__body-right-navigate-link:hover{
            color: #2B2B2B;
        }
        .header__body-right-navigate-link:nth-child(2){
            padding-top: 30px;
        }

        .header__body-right-navigate-link:nth-child(3){
            padding-top: 30px;
        }

        .header__body-right-btn{
            background-color: #000;
            cursor: pointer;
            border: 3px solid #fff;
            margin-bottom: 20px;
            transition: 0.3s;
            width: 150px;
            height: 60px;
            padding: 10px 30px;
        }

        .header__body-right-btn:hover{
            background-color: #f80a0aae;
            color: #000;
        }


        .header__info-block-left{
            display: none;
        }
        .header__info-block-right{
            display: none;
        }

        .header__mob-info-block{
            display: block;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            max-width: 400px;
            margin: 0 auto;
            transform: translateY(-100px);
        }
        .header__info-block-left-descr{
            text-align: center;
            margin: 0 auto;
        }
        .header__info-block-left-title{
            text-align: center;
            padding-bottom: 10px;
        }
        .header__info-block-left-btn{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 270px;
            border-radius: 20px;
            background: var(--Call-to-Action, #A259FF);
            color: #FFF;
            text-align: center;
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 22.4px */
            margin-top: 10px;
        }
        .header__info-block-left-ratings{
            padding-top: 0px;
            margin-top: 17px;
            width: 330px;
        }
        .header__info-block-left-rating-item-number{
            color: var(--White, #FFF);
            font-family: Space Mono;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 160%; /* 35.2px */
            text-transform: capitalize;
        }
        .header__info-block-left-rating-item-name{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
        .header__mob-info-block-right{
            border-radius: 20px 20px;
            width: 270px;
            background: var(--Background---Secondary, #3B3B3B);
            margin-top: 10px;
        }
        .header__info-block-right-image{
            width: 270px;
        }
        .header__info-block-right-name{
            color: #FFF;
            font-family: Work Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 30.8px */
            text-transform: capitalize;
        }
        .header__info-block-right-avatar-name{
            color: #FFF;
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }



        .fullskrin__button-input[type="checkbox"]:checked ~ .fullskrin__button-label{
            transform: translateY(70px);
        }

        .fullskrin__button-input[type="checkbox"]:checked ~ .fullskrin__start{
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            animation: form 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            width: 400px;
            left: 17%;
        }
        .fullskrin__button-input[type="checkbox"]:checked ~ .header__info-block-left-ratings{
            display: none;
        }
        .fullskrin__button-input{
            display: none;
        }
        
        .fullskrin__button-label{
            display: flex;
                align-items: center;
                justify-content: space-around;
                width: 180px;
                border-radius: 20px;
    background: var(--Call-to-Action, #A259FF);
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
        }
    
        .fullskrin__button-label-btn{
            color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    margin-top: 20px;
    background-color: #ffffff00;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
        }

        .section-2__txt-title{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 45.6px */
            text-transform: capitalize;
        }

        .section-2__txt-descr{
            font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 35.2px */
text-transform: capitalize;
        }

        .section-3__top-btn{
            display: none;
        }

        .section-4__box-1-block{
            position: relative;
            width: 200px;
        }
        .section-4__block-background{
            width: 200px;
        }
        .section-4__box-1-block-images{
            width: 200px;
        }
        .section-4__box-1-block-icon{
            position: absolute;
            left: 23%;
            top: 32%;
        }

        .section-6{
            display: none;
        }
        .section-6-mob{
            display: block;
        }
    }

    @media (max-width: 490px) {
        .images__anim{
            width: 150px;
            height: 150px;
        }

        .fullskrin__button-input[type="checkbox"]:checked ~ .fullskrin__start{
            width: 340px;
            left: 23%;
        }
        .fullskrin__start__input{
            margin-left: -23px;
        }

        .section-4__box-1-block-icon{
            top: 22%;
            width: 80px;
        }
        .section-4__box-1-block{
            width: 150px;
            height: 170px;
        }
        .section-4__block-background{
            width: 150px;
            height: 130px;
        }
        .section-4__box-1-block-images{
            height: 130px;
            width: 150px;
        }
        .section-4__box-1-block-name{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 30.8px */
            text-transform: capitalize;
            padding-left: 5px;
            padding-bottom: 17px;
        }

        .section-5__top-txt-title{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 23px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 39.2px */
            text-transform: capitalize;
        }
        .section-5__top-txt-descr{
            color: var(--White, #FFF);
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
        .section-5__top-btn{
            padding: 0 30px;
            height: 40px;
            width: 150px;
            color: #FFF;
            text-align: center;
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 22.4px */
        }
    }

    @media (max-width: 410px){
        .section-7__top{
            padding-left: 20px;
        }
        .section-7__box{
            padding: 0px;
            padding-left: 7px;
            max-width: 320px;
        }

        .section-8__form{
            background: var(--Background, #2B2B2B);
        }
    }

    @media (max-width: 385px) {
        .header__body-left{
            width: 200px;
        }
        .header__mob-info-block-right{
            width: 270px;
        }
        .header__info-block-right-image{
            width: 270px;
        }
        .header__info-block-left-btn{
            margin-top: 20px;
        }
        .header__info-block-left-ratings{
            margin-top: 15px;
            width: 300px;
        }

        .fullskrin__button-input[type="checkbox"]:checked ~ .fullskrin__start{
            width: 320px;
            left: 20%;
        }
        .fullskrin__start__input{
            margin-left: -23px;
            width: 250px;
            margin: 0 auto;
        }
        .fullskrin__start__btn{
            padding: 10px 20px;
        }        

        .section-2__txt{
            margin: 0 auto;
            width: 340px;
            transform: translateX(-10px);
        }
        .section-2__txt-descr{
            transform: translateX(-20px);
        }
        .section-2__txt-title{
            transform: translateX(-10px);
        }
        .section-2__images-block-main-img{
            width: 320px;
        }
        .section-2__images-block-small{
            padding: 3px 10px;
        }
        .section-2__images-block-small-img{
            width: 90px;
        }
        .section-2__images-block-small-more{
            padding: 27px 10px;
        }

        .section-4{
            padding: 0 10px;
        }
        .section-5__top-btn{
            font-size: 14px;
            font-weight: 600;
        }
        .section-5__box-block-img{
            width: 310px;
        }
        .section-5__box-block{
            width: 310px;
            transform: translateX(-10px);
        }

        .section-7__card{
            margin: 0 auto;
        }

        .section-8__img{
            max-width: 300px;
        }
    }

    @media(max-width: 352px){
        .section-2{
            transform: translateX(-7px);
        }

        .section-3__block-creator:hover{
            transform: scale(1.05);
        }
        .section-5__box-block{
            transform: translateX(-13px);
        }
        .section-5__top-btn{
            margin-left: 5px;
            padding: 0 25px;
        }

        .section-6__left{
            width: 190px;
        }
        .section-6__title{
            color: #FFF;
            font-family: Work Sans;
            font-size: 38px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 45.6px */
            text-transform: capitalize;
        }
        .section-6__right{
            max-width: 190px;
        }

        .section-7__card{
            max-width: 250px;
        }

        .section-8__img{
            width: 250px;
        }
    }

    @media(max-width: 332px){
        .section-5__box-block{
            max-width: 270px;
        }
        .section-5__box-block-img{
            max-width: 270px;
        }


    }
